<h1>About</h1>
<h2>Uppbyggnad</h2>
<p>Hemsidan är baserad på angular. den består av totalt 1 huvudsida och 3 stycken undersidor.
    För att kunna uppnå detta så bygger sidan totalt på 6(med globala komponenten med räknat) stycken olika komponenter.

</p>

<h2>Databindning</h2>
<p>Väldigt smidigt att kunna binda information mellan scriptdelen och html. Förut har detta hanteras manuellt men genom att databinden sköter detta sparas mycket arbete in.
    Detta kan vara både enkeltriktad samt dubbel, i denna hemsida har båda används gällande . Detta har gjorts genom Interpolation som används för att skriva ut resultat och "Two-way binding" som tillåter skrivning både från HTML och script. 
    <br><br>
    Utöver information har även DOM-event skapats genom "Event-bindning", i detta fall tex knapparna som används för att konvertera mellan olika värden. Detta tillåter att direkt anropa funktionen istället för att manuellt i script skapa tex en lyssnare. 
</p>

<h2>Slutsats</h2>
<p>Väldigt roligt att få testa på ett ramverk för första gången. känns som att väldigt mycket kommer "gratis" med detta som annars behöver hanteras. Vilket tilåter att lägga tid på annan form av utveckling.</p>