header
{
    height: 100px;
    background-color: rgb(197, 233, 233);
    width: 100%;

    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
        
    nav
    {
        height: 100px;
        background-color: rgb(197, 233, 233);
        width: 100%;
        ul
        {
            padding: 0;
            margin: 0;
            list-style: none;
        }

        li
        {
            display: inline-block;
            height: auto;
            width: 100%;
            max-width: 70px;

        }

        a
        {
            float: left;
            display: block;
            width: 100%;
            line-height: 100px;

            text-align: center;
            background-color: beige;
            &:hover
            {
                background-color: rgb(75, 75, 70);
            }

        }

        .aktivnav
        {
            background-color: rgb(255, 255, 255);
            color: black;
        }
    }

}


