p
{
    font-size: clamp(15px, 2vw, 24px);
}

testar
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
position: relative;
    .container_img
    {

        img
        {
    
            border-radius: 20px;
            object-fit: "contain"
        }
    }
}