p
{
    font-size: clamp(15px, 2vw, 24px);
    text-align: center;
}

    
.container_img
{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
    width: 100%;

    img
    {

        border-radius: 20px;
        width: 100%;
    }
}